owner = {
  name  = "demo"
  email = "demo@lexisnexisrisk.com"
}

metadata = {
  project             = "hpccplatform"
  product_name        = "hpccplatform"
  business_unit       = "commercial"
  environment         = "sandbox"
  market              = "us"
  product_group       = "hpcc"
  resource_group_type = "app"
  sre_team            = "hpccplatform"
  subscription_type   = "dev"
  additional_tags     = { "justification" = "testing" }
  location            = "eastus" # Acceptable values: eastus, centralus
}

resource_groups = {
  virtual_network = {
    tags = { "enclosed resource" = "opensource vnet" }
  }
}
