# Thor Settings 
################

thor_config = [{
  disabled            = false
  name                = "thor"
  prefix              = "thor"
  numWorkers          = 5
  keepJobs            = "none"
  maxJobs             = 4
  maxGraphs           = 2
  maxGraphStartupTime = 172800
  numWorkersPerPod    = 1
  # nodeSelector        = {}
  managerResources = {
    cpu    = 1
    memory = "2G"
  }
  workerResources = {
    cpu    = 3
    memory = "4G"
  }
  workerMemory = {
    query      = "3G"
    thirdParty = "500M"
  }
  eclAgentResources = {
    cpu    = 1
    memory = "2G"
  }
  cost = {
    perCpu = 1
  }
}]
