owner = {
  name  = "demo"
  email = "demo@lexisnexisrisk.com"
}

metadata = {
  project             = "hpccplatform"
  product_name        = "hpccplatform"
  business_unit       = "commercial"
  environment         = "sandbox"
  market              = "us"
  product_group       = "hpcc"
  resource_group_type = "app"
  sre_team            = "hpccplatform"
  subscription_type   = "dev"
  additional_tags     = { "justification" = "testing" }
  location            = "eastus" # Acceptable values: eastus, centralus
}

tags = { "justification" = "testing" }

resource_groups = {
  azure_kubernetes_service = {
    tags = { "enclosed resource" = "opensource aks" }
  }
  # azure_log_analytics_workspace = {
  #   tags = { "enclosed resource" = "azure log analytics workspace" }
  # }
}

# # auto_connect - Automatically connect to the kubernetes cluster from the host machine.
# auto_connect = true

# # disable_naming_conventions - Disable naming conventions
# # disable_naming_conventions = true 

# azure_auth = {
#   #   AAD_CLIENT_ID     = ""
#   #   AAD_CLIENT_SECRET = ""
#   #   AAD_TENANT_ID     = ""
#   #   AAD_PRINCIPAL_ID  = ""
#   SUBSCRIPTION_ID = ""
# }

aks_automation = {
  local_authentication_enabled  = false
  public_network_access_enabled = false
  automation_account_name       = "aks-stop-demo-5"

  schedule = [
    {
      schedule_name   = "aks_stop"
      description     = "Stops the AKS weekday nights at 6PM EST"
      frequency       = "Week" //OneTime, Day, Hour, Week, or Month.
      interval        = "1"    //cannot be set when frequency is `OneTime`
      daylight_saving = true
      start_time      = "18:00" // At least 5 minutes in the future
      week_days       = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    },
    # {
    #   schedule_name   = "aks_start"
    #   description     = "Starts the AKS weekday nights at 6AM EST"
    #   frequency       = "Week" //OneTime, Day, Hour, Week, or Month.
    #   interval        = "1"    //cannot be set when frequency is `OneTime`
    #   daylight_saving = true
    #   start_time      = "06:00" // At least 5 minutes in the future
    #   week_days       = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
    # }
  ]
}
